src/main/resources/OrganisationWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/polydiploma/organisation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OrganisationWebServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/polydiploma/organisation">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/polydiploma/organisation" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/polydiploma/organisation">
            <xs:element name="confirmSpeakerAttendance" type="tns:confirmSpeakerAttendance"/>
            <xs:element name="confirmSpeakerAttendanceResponse" type="tns:confirmSpeakerAttendanceResponse"/>
            <xs:element name="getAllParticipant" type="tns:getAllParticipant"/>
            <xs:element name="getAllParticipantResponse" type="tns:getAllParticipantResponse"/>
            <xs:element name="getDeliveryDate" type="tns:getDeliveryDate"/>
            <xs:element name="getDeliveryDateResponse" type="tns:getDeliveryDateResponse"/>
            <xs:element name="getFieldTimeslot" type="tns:getFieldTimeslot"/>
            <xs:element name="getFieldTimeslotResponse" type="tns:getFieldTimeslotResponse"/>
            <xs:element name="getFields" type="tns:getFields"/>
            <xs:element name="getFieldsResponse" type="tns:getFieldsResponse"/>
            <xs:element name="getFreeTimeslot" type="tns:getFreeTimeslot"/>
            <xs:element name="getFreeTimeslotResponse" type="tns:getFreeTimeslotResponse"/>
            <xs:element name="getGuestFromGraduate" type="tns:getGuestFromGraduate"/>
            <xs:element name="getGuestFromGraduateResponse" type="tns:getGuestFromGraduateResponse"/>
            <xs:element name="getParticipantList" type="tns:getParticipantList"/>
            <xs:element name="getParticipantListResponse" type="tns:getParticipantListResponse"/>
            <xs:element name="getPlanning" type="tns:getPlanning"/>
            <xs:element name="getPlanningResponse" type="tns:getPlanningResponse"/>
            <xs:element name="getSpeakerTimeslot" type="tns:getSpeakerTimeslot"/>
            <xs:element name="getSpeakerTimeslotResponse" type="tns:getSpeakerTimeslotResponse"/>
            <xs:element name="inviteGraduates" type="tns:inviteGraduates"/>
            <xs:element name="inviteGraduatesResponse" type="tns:inviteGraduatesResponse"/>
            <xs:element name="inviteSpeaker" type="tns:inviteSpeaker"/>
            <xs:element name="inviteSpeakerResponse" type="tns:inviteSpeakerResponse"/>
            <xs:element name="sendMail" type="tns:sendMail"/>
            <xs:element name="sendMailResponse" type="tns:sendMailResponse"/>
            <xs:element name="setDateOfCeremony" type="tns:setDateOfCeremony"/>
            <xs:element name="setDateOfCeremonyResponse" type="tns:setDateOfCeremonyResponse"/>
            <xs:element name="setFieldTimeslot" type="tns:setFieldTimeslot"/>
            <xs:element name="setFieldTimeslotResponse" type="tns:setFieldTimeslotResponse"/>
            <xs:complexType name="getFreeTimeslot">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getFreeTimeslotResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="free_timeslot" type="tns:timeslot"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="timeslot">
                <xs:sequence>
                    <xs:element name="endingHour" type="xs:int"/>
                    <xs:element name="endingMinute" type="xs:int"/>
                    <xs:element name="startingHour" type="xs:int"/>
                    <xs:element name="startingMinute" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="setFieldTimeslot">
                <xs:sequence>
                    <xs:element minOccurs="0" name="field" type="tns:field"/>
                    <xs:element minOccurs="0" name="timeslot" type="tns:timeslot"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="setFieldTimeslotResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllParticipant">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllParticipantResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="all_participant_list" type="tns:participant"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="participant">
                <xs:sequence>
                    <xs:element minOccurs="0" name="firstname" type="xs:string"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="lastname" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getDeliveryDate">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getDeliveryDateResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="delivery_date" type="tns:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="date">
                <xs:sequence>
                    <xs:element name="day" type="xs:int"/>
                    <xs:element name="month" type="xs:int"/>
                    <xs:element name="year" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getSpeakerTimeslot">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getSpeakerTimeslotResponse">
                <xs:sequence>
                    <xs:element name="speaker_timeslot">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element minOccurs="0" name="key" type="tns:timeslot"/>
                                            <xs:element minOccurs="0" name="value" type="tns:speaker"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="speaker">
                <xs:complexContent>
                    <xs:extension base="tns:participant">
                        <xs:sequence>
                            <xs:element name="isAttending" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="mail" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendMail">
                <xs:sequence>
                    <xs:element minOccurs="0" name="host_mail" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendMailResponse">
                <xs:sequence>
                    <xs:element name="send_success" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="setDateOfCeremony">
                <xs:sequence>
                    <xs:element minOccurs="0" name="date" type="tns:date"/>
                    <xs:element minOccurs="0" name="timeslot" type="tns:timeslot"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="setDateOfCeremonyResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="inviteSpeaker">
                <xs:sequence>
                    <xs:element minOccurs="0" name="speaker" type="tns:speaker"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="inviteSpeakerResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getParticipantList">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getParticipantListResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="participant_list" type="tns:participant"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="inviteGraduates">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="inviteGraduatesResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getFieldTimeslot">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getFieldTimeslotResponse">
                <xs:sequence>
                    <xs:element name="field_timeslot">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element minOccurs="0" name="key" type="tns:timeslot"/>
                                            <xs:element minOccurs="0" name="value" type="tns:field"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getPlanning">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getPlanningResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="planning" type="tns:planning"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="planning">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dateOfCeremony" type="tns:date"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="timeslot" type="tns:timeslot"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="confirmSpeakerAttendance">
                <xs:sequence>
                    <xs:element minOccurs="0" name="mail" type="xs:string"/>
                    <xs:element minOccurs="0" name="timeslot" type="tns:timeslot"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="confirmSpeakerAttendanceResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getFields">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getFieldsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="field_list" type="tns:field"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getGuestFromGraduate">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getGuestFromGraduateResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="guest_list" type="tns:guest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="guest">
                <xs:complexContent>
                    <xs:extension base="tns:participant">
                        <xs:sequence>
                            <xs:element name="hasPayed" type="xs:boolean"/>
                            <xs:element name="payingGuest" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="field">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="SI"/>
                    <xs:enumeration value="MAM"/>
                    <xs:enumeration value="GB"/>
                    <xs:enumeration value="ITII"/>
                    <xs:enumeration value="GE"/>
                    <xs:enumeration value="ELEC"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="TimeslotOverlapException" type="tns:TimeslotOverlapException"/>
            <xs:complexType name="TimeslotOverlapException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ExternalPartnerException" type="tns:ExternalPartnerException"/>
            <xs:complexType name="ExternalPartnerException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SpeakerAlreadyExistException" type="tns:SpeakerAlreadyExistException"/>
            <xs:complexType name="SpeakerAlreadyExistException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPlanningResponse">
        <wsdl:part element="tns:getPlanningResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFreeTimeslot">
        <wsdl:part element="tns:getFreeTimeslot" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="setFieldTimeslot">
        <wsdl:part element="tns:setFieldTimeslot" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDeliveryDate">
        <wsdl:part element="tns:getDeliveryDate" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSpeakerTimeslot">
        <wsdl:part element="tns:getSpeakerTimeslot" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllParticipantResponse">
        <wsdl:part element="tns:getAllParticipantResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="inviteSpeakerResponse">
        <wsdl:part element="tns:inviteSpeakerResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="confirmSpeakerAttendanceResponse">
        <wsdl:part element="tns:confirmSpeakerAttendanceResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="setFieldTimeslotResponse">
        <wsdl:part element="tns:setFieldTimeslotResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TimeslotOverlapException">
        <wsdl:part element="tns:TimeslotOverlapException" name="TimeslotOverlapException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDeliveryDateResponse">
        <wsdl:part element="tns:getDeliveryDateResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendMailResponse">
        <wsdl:part element="tns:sendMailResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getParticipantList">
        <wsdl:part element="tns:getParticipantList" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFields">
        <wsdl:part element="tns:getFields" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGuestFromGraduate">
        <wsdl:part element="tns:getGuestFromGraduate" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllParticipant">
        <wsdl:part element="tns:getAllParticipant" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendMail">
        <wsdl:part element="tns:sendMail" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SpeakerAlreadyExistException">
        <wsdl:part element="tns:SpeakerAlreadyExistException" name="SpeakerAlreadyExistException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFreeTimeslotResponse">
        <wsdl:part element="tns:getFreeTimeslotResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ExternalPartnerException">
        <wsdl:part element="tns:ExternalPartnerException" name="ExternalPartnerException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="inviteGraduatesResponse">
        <wsdl:part element="tns:inviteGraduatesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="setDateOfCeremony">
        <wsdl:part element="tns:setDateOfCeremony" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="inviteSpeaker">
        <wsdl:part element="tns:inviteSpeaker" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFieldTimeslotResponse">
        <wsdl:part element="tns:getFieldTimeslotResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGuestFromGraduateResponse">
        <wsdl:part element="tns:getGuestFromGraduateResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSpeakerTimeslotResponse">
        <wsdl:part element="tns:getSpeakerTimeslotResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getParticipantListResponse">
        <wsdl:part element="tns:getParticipantListResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="setDateOfCeremonyResponse">
        <wsdl:part element="tns:setDateOfCeremonyResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="inviteGraduates">
        <wsdl:part element="tns:inviteGraduates" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFieldTimeslot">
        <wsdl:part element="tns:getFieldTimeslot" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPlanning">
        <wsdl:part element="tns:getPlanning" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFieldsResponse">
        <wsdl:part element="tns:getFieldsResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="confirmSpeakerAttendance">
        <wsdl:part element="tns:confirmSpeakerAttendance" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OrganisationWebService">
        <wsdl:operation name="getFreeTimeslot">
            <wsdl:input message="tns:getFreeTimeslot" name="getFreeTimeslot">
            </wsdl:input>
            <wsdl:output message="tns:getFreeTimeslotResponse" name="getFreeTimeslotResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setFieldTimeslot">
            <wsdl:input message="tns:setFieldTimeslot" name="setFieldTimeslot">
            </wsdl:input>
            <wsdl:output message="tns:setFieldTimeslotResponse" name="setFieldTimeslotResponse">
            </wsdl:output>
            <wsdl:fault message="tns:TimeslotOverlapException" name="TimeslotOverlapException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllParticipant">
            <wsdl:input message="tns:getAllParticipant" name="getAllParticipant">
            </wsdl:input>
            <wsdl:output message="tns:getAllParticipantResponse" name="getAllParticipantResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeliveryDate">
            <wsdl:input message="tns:getDeliveryDate" name="getDeliveryDate">
            </wsdl:input>
            <wsdl:output message="tns:getDeliveryDateResponse" name="getDeliveryDateResponse">
            </wsdl:output>
            <wsdl:fault message="tns:ExternalPartnerException" name="ExternalPartnerException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSpeakerTimeslot">
            <wsdl:input message="tns:getSpeakerTimeslot" name="getSpeakerTimeslot">
            </wsdl:input>
            <wsdl:output message="tns:getSpeakerTimeslotResponse" name="getSpeakerTimeslotResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendMail">
            <wsdl:input message="tns:sendMail" name="sendMail">
            </wsdl:input>
            <wsdl:output message="tns:sendMailResponse" name="sendMailResponse">
            </wsdl:output>
            <wsdl:fault message="tns:ExternalPartnerException" name="ExternalPartnerException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setDateOfCeremony">
            <wsdl:input message="tns:setDateOfCeremony" name="setDateOfCeremony">
            </wsdl:input>
            <wsdl:output message="tns:setDateOfCeremonyResponse" name="setDateOfCeremonyResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inviteSpeaker">
            <wsdl:input message="tns:inviteSpeaker" name="inviteSpeaker">
            </wsdl:input>
            <wsdl:output message="tns:inviteSpeakerResponse" name="inviteSpeakerResponse">
            </wsdl:output>
            <wsdl:fault message="tns:ExternalPartnerException" name="ExternalPartnerException">
            </wsdl:fault>
            <wsdl:fault message="tns:SpeakerAlreadyExistException" name="SpeakerAlreadyExistException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getParticipantList">
            <wsdl:input message="tns:getParticipantList" name="getParticipantList">
            </wsdl:input>
            <wsdl:output message="tns:getParticipantListResponse" name="getParticipantListResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inviteGraduates">
            <wsdl:input message="tns:inviteGraduates" name="inviteGraduates">
            </wsdl:input>
            <wsdl:output message="tns:inviteGraduatesResponse" name="inviteGraduatesResponse">
            </wsdl:output>
            <wsdl:fault message="tns:ExternalPartnerException" name="ExternalPartnerException">
            </wsdl:fault>
            <wsdl:fault message="tns:SpeakerAlreadyExistException" name="SpeakerAlreadyExistException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldTimeslot">
            <wsdl:input message="tns:getFieldTimeslot" name="getFieldTimeslot">
            </wsdl:input>
            <wsdl:output message="tns:getFieldTimeslotResponse" name="getFieldTimeslotResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPlanning">
            <wsdl:input message="tns:getPlanning" name="getPlanning">
            </wsdl:input>
            <wsdl:output message="tns:getPlanningResponse" name="getPlanningResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="confirmSpeakerAttendance">
            <wsdl:input message="tns:confirmSpeakerAttendance" name="confirmSpeakerAttendance">
            </wsdl:input>
            <wsdl:output message="tns:confirmSpeakerAttendanceResponse" name="confirmSpeakerAttendanceResponse">
            </wsdl:output>
            <wsdl:fault message="tns:ExternalPartnerException" name="ExternalPartnerException">
            </wsdl:fault>
            <wsdl:fault message="tns:TimeslotOverlapException" name="TimeslotOverlapException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFields">
            <wsdl:input message="tns:getFields" name="getFields">
            </wsdl:input>
            <wsdl:output message="tns:getFieldsResponse" name="getFieldsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGuestFromGraduate">
            <wsdl:input message="tns:getGuestFromGraduate" name="getGuestFromGraduate">
            </wsdl:input>
            <wsdl:output message="tns:getGuestFromGraduateResponse" name="getGuestFromGraduateResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrganisationWebServiceImplServiceSoapBinding" type="tns:OrganisationWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getFreeTimeslot">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getFreeTimeslot">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getFreeTimeslotResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setFieldTimeslot">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="setFieldTimeslot">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setFieldTimeslotResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TimeslotOverlapException">
                <soap:fault name="TimeslotOverlapException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllParticipant">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAllParticipant">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllParticipantResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendMail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sendMail">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendMailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExternalPartnerException">
                <soap:fault name="ExternalPartnerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSpeakerTimeslot">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getSpeakerTimeslot">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getSpeakerTimeslotResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeliveryDate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getDeliveryDate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDeliveryDateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExternalPartnerException">
                <soap:fault name="ExternalPartnerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setDateOfCeremony">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="setDateOfCeremony">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setDateOfCeremonyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inviteSpeaker">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="inviteSpeaker">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="inviteSpeakerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExternalPartnerException">
                <soap:fault name="ExternalPartnerException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SpeakerAlreadyExistException">
                <soap:fault name="SpeakerAlreadyExistException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getParticipantList">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getParticipantList">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getParticipantListResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inviteGraduates">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="inviteGraduates">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="inviteGraduatesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExternalPartnerException">
                <soap:fault name="ExternalPartnerException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SpeakerAlreadyExistException">
                <soap:fault name="SpeakerAlreadyExistException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldTimeslot">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getFieldTimeslot">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getFieldTimeslotResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPlanning">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPlanning">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPlanningResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="confirmSpeakerAttendance">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="confirmSpeakerAttendance">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="confirmSpeakerAttendanceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExternalPartnerException">
                <soap:fault name="ExternalPartnerException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TimeslotOverlapException">
                <soap:fault name="TimeslotOverlapException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFields">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getFields">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getFieldsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGuestFromGraduate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getGuestFromGraduate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getGuestFromGraduateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrganisationWebServiceImplService">
        <wsdl:port binding="tns:OrganisationWebServiceImplServiceSoapBinding" name="OrganisationWebServiceImplPort">
            <soap:address location="http://localhost:8082/polydiploma-backend/webservices/OrganisationWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>